# Since the ".env.local" file is gitignored, you can use the ".env.example" file to
# determine the values expected in ".env.local" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env` to avoid conflict with other Teksade contributors.

# This file will be committed to version control, so make sure not to have any
# secrets in it ( only keys no values). If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# 
# should be updated accordingly.

# Example:
# NEXT_PUBLIC_CLIENTVAR="value you get from project lead"

#current envs 
# add this to .env
DIRECT_URL="replace with value"
DATABASE_URL="replace with value"

# add this to .env.local
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=replaceWithValue
CLERK_SECRET_KEY=replaceWithValue
NEXT_PUBLIC_CLERK_SIGN_IN_URL=replaceWithValue
NEXT_PUBLIC_CLERK_SIGN_UP_URL=replaceWithValue
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=replaceWithValue
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=replaceWithValue
RESEND_EMAIL_API_KEY=replaceWithValue


