/* @tailwind base; Tailwind base styles are muted to avoid conflicts with Normalize Css Used in Mantine*/
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 4px;
}

.sticky-header {
  @apply z-[9999] bg-opacity-80 transition;
  backdrop-filter: blur(5px);
  /* box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1); */
}

/* Like like-button */
.like-button {
  cursor: pointer;
  color: #fff;
  border: 0;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0em 1.3em 0.3em 1.3em;
  border-radius: 0.5em;
  z-index: 999;
  position: relative;
  display: flex;
  gap: 0.5em;
}

/* Remove any kind of outline on button click */
.like-button:focus {
  outline: none;
}

.like-button:active {
  background: none;
}


.like-button:active {
  transform: scale(1.01);
}
